.drawer-controller {
  float: right;
  width: 100%;
  border: 1px solid rgba(0,0,0, .3);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: -1px;
}

.drawer-controller label {
  float: left;
  padding-top: 6px;
  margin-right: 10px;
}
.drawer-controller span {
  border: 2px solid rgba(0,0,0,.3);
  border-radius: 100%;
  float: left;
  width: 26px;
  height: 26px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: rgba(0,0,0,.3);
  line-height: 28px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.drawer-controller span input {
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  opacity: 0;
}

.drawer-controller span:hover {
  border: 2px solid #4b7cec;
  color: #4b7cec;
}

.drawer-controller .position-buttons {
  float: right;
  padding-top: 6px;
}

.drawer-controller .position-buttons .position {
  float: left;
  width: 2px;
  height: 12px;
  border: 2px solid;
  border-left: 12px solid;
  margin-left: 10px;
  border-color: rgba(0,0,0,.3);
  cursor: pointer;
}

.drawer-controller .position-buttons .position.bottom {
  height: 2px;
  width: 12px;
  border: 2px solid;
  border-top: 12px solid;
  border-color: rgba(0,0,0,.3);
}
.drawer-controller .position-buttons .position.top {
  height: 2px;
  width: 12px;
  border: 2px solid;
  border-bottom: 12px solid;
  border-color: rgba(0,0,0,.3);
}
.drawer-controller .position-buttons .position.left {
  width: 2px;
  height: 12px;
  border: 2px solid;
  border-right: 12px solid;
  border-color: rgba(0,0,0,.3);
}

.drawer-controller .position-buttons .position.selected {
  border-color: #4b7cec;
}
.drawer-controller .position-buttons .position:hover {
  border-color: #4b7cec;
}